$demoColor1: #ececee;
$demoColor2: #adc0ce;
$demoColor3: #4d939f;
$demoColor4: #3b3e47;
$demoColor5: #1d2025;

$colorStable: #c7354e !default;

$heightHeader: 60px !default;
$widthMenu: 256px;
$widthMenuCollapsed: 64px;


// 同 iview less 变量保持统一
$menu-dark-title: #001529;
$menu-dark-active-bg: #000c17;
$layout-sider-background: #001529;

